<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <h1>Оставьте заявку</h1>
    <div class="container text-center">
        <div id="form_container">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="form-actions form-group ">
                    <button type="submit" class="form-control btn btn-success">Отправить</button>
                  </div>
            </form>
        </div>
    </div>
</body>
</html>